<div class="card">
  <a href="<%= game.demo_download %>">
  <div class="card-image">
    <img src="https://farm8.staticflickr.com/7641/16640397280_6ab418323e.jpg" alt="">
  </div>
  <div class="card-header">
    <a href="<%= game.demo_download %>">
      <%= game.away_team.name %> vs <%= game.home_team.name %>
    </a>
  </div>
  <div class="card-copy">
    <p>
      <%= game.map.codename %>
    </p>
    <p><%= game.tournament.name %></p>
  </div>
</a>
</div>
